form {
    width: 400px;
    background: linear-gradient(#eeeef8c1, #212121b8) padding-box,
                linear-gradient(145deg, transparent 35%, #1cbfff3b, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: black;
    height: 96px;
    border: 1px solid #414141;
    background-color: solid;
    font-family: inherit;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

textarea:focus {
    outline: none;
    border-color: #1cbfff4e;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border-radius: calc(45px / 2);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    margin: 0 5px;
}

.Btn-container {
    display: flex;
    gap: 5px;
}

.Btn--add {
    background: linear-gradient(144deg, #4caf50, #388e3c 50%, #1b5e20);
}

.Btn--cancel {
    background: linear-gradient(144deg, #f44336, #e53935 50%, #b71c1c);
}

/* plus sign */
.sign {
    width: 100%;
    font-size: 2.2em;
    color: white;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    transition-duration: 0.3s;
}

.Btn:hover .sign {
    display: none;
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 15px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 15px;
}

/* button click effect */
.Btn:active {
    transform: translate(2px, 2px);
}
